@media screen and (max-width: 480px) {
    header{
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .discord{
        width: 100%;
        background-color: #333;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 8px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .menu{
        display: block;
        color: white;
        font-size: 23px;
        font-weight: bolder;
        margin-top: 5px;
    }
    
    nav{
        display: none;
    }

    .articulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .article1{
        width: 100%;
        margin-top: -30px;
    }

    .article1 h1{
        font-size: 45px;
        text-align: center;
    }

    .article1 p{
        text-align: center;
    }

    .foto1{
        width: 100%;
    }

    .acerca_de_discord{
        width: 90%;
    }

    .prologue{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .prolog{
        width: 100%;
        padding: 0;
    }

    .history{
        width: 100%;
    }

    .prologue figure{
        width: 100%;
        order: 1;
        margin-top: 30px;
    }

    .prolog{
        width: 100%;
        order: 0;
    }

    .chapter_one{
        flex-direction: column;
    }

    .chapter{
        width: 100%;
        padding: 0;
    }

    .chapter_one figure{
        width: 100%;
    }

    .video_discord{
        flex-direction: column;
    }

    #contenedor{
        width: 100%;
        order: 1;
    }

    #video{
        border-radius: 15px;
    }

    .borde_video{
        display: none;
    }

    .info_video{
        margin-bottom: 20px;
        width: 100%;
        padding: 0;
        order: 0;
    }

    .info_articulo{
        display: flex;
        flex-direction: column;

    }

    .chats_more_fun{
        width: 90%;
        margin: auto;
    }

    .video_2{
        width: 100%;
    }

    #contenedor1{
        width: 90%;
    }

    .bordevideo2{
        display: none;
    }

    .video2{
        position: relative;
        background-color: black;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    footer{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo{
        width: 100%;
        display: flex;
    }

    .iconos_redes{
        width: 100%;
        margin-top: 15px;
        display: flex;
    }
}